<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title style="display: flex; justify-content: left;  min-height: 4rem;">
        <img src="/assets/github_icon.png" style="height: 4rem;"/>
        <mat-icon *ngIf="userData">done_all</mat-icon>
      </mat-panel-title>

      <div *ngIf="userData" style="display: flex;">
      <mat-panel-description  style="display: flex; justify-content: center;">
        Welcome {{userData?.displayName}}
      </mat-panel-description>


      <mat-panel-description  style="display: flex; justify-content: center;">
        <span>Last Synced: {{getDate(userData?.connectedAt)}}</span>
        <span>Sync Type: full</span>
      </mat-panel-description>
    </div>
    </mat-expansion-panel-header>

    <div style="display: flex; justify-content: center;">
      <div *ngIf="!userData" style="display: flex; width: 25rem; flex-direction: column; align-items: center; justify-content: center;">
        <button mat-raised-button (click)="connectToGithub()">connect</button>
        <span>{{userData}}</span>
        <span>Connect Sredio to Github</span>
      </div>

      <div *ngIf="userData" style="display: flex; justify-content: flex-end; align-items: end;">
        <button mat-button (click)="removeToGithub()">Remove</button>
      </div>
  </div>
  </mat-expansion-panel>
</mat-accordion>
